:root {
  --cor-c1: #ffffff;
  --cor-c2: #f5f5f5;
  --cor-c3: #e0e0e0;
  --cor-c4: #cccccc;
  --cor-c5: #a3a3a3;
  --cor-c6: #8f8f8f;
  --cor-c7: #525252;
  --cor-c8: #141414;
  --cor-c9: #000000;
  --cor-c10: linear-gradient(#ffab2d, #d17d00);
}
