.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia__subtitulo {
  color: var(--cor-c3);
}

.experiencia__texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--cor-c7);
}

.experiencia__texto strong {
  color: var(--cor-c8);
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: var(--cor-c2);
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: var(--cor-10);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa__ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: var(--cor-c7);
  font-size: 0.875rem;
  text-align: right;
  width: 80px;
}

.empresa__titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa__texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--cor-c7);
}

.empresa__habilidades {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.empresa__habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: var(--cor-c1);
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia__subtitulo {
    color: var(--cor-c8);
  }
  .experiencia__texto {
    font-size: 1.25rem;
  }
  .empresa__ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
