.footer {
  background: var(--cor-c9);
}

.footer__container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 100px;
}

.footer__texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--cor-c4);
}

.footer__contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: var(--cor-c1);
  margin-bottom: 30px;
}

.footer__contato li a {
  color: var(--cor-c1);
}

.footer__copy {
  grid-column: 1/-1;
  font-size: 1.125rem;
  color: var(--cor-c6);
}
@media (max-width: 800px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer__contato li {
    font-size: 1.5rem;
  }
}
