.header {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header__menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--cor-c8);
  display: block;
}

.header__menu li {
  position: relative;
}

.header__menu li + li::before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: double 2px transparent;
  background-image: linear-gradient(var(--cor-c2), var(--cor-c2)),
    var(--cor-c10);
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: absolute;
  left: -16px;
  top: 16px;
}

.header__menu a:hover::after {
  width: 100%;
}

.header__menu a::after {
  content: '';
  width: 0;
  display: block;
  height: 2px;
  background: var(--cor-c10);
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header__menu li + li::before {
    display: none;
  }
  .header__menu a::after {
    display: none;
  }
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: var(--cor-c2);
    border-radius: 4px;
  }
  .header a:hover {
    background: var(--cor-c8);
    color: var(--cor-c2);
  }
}
