.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia__subtitulo {
  color: $cor-c3;
}

.experiencia__texto {
  @include type-1(24);
  max-width: 45ch;
  margin-bottom: 60px;
  color: $cor-c7;
}

.experiencia__texto strong {
  color: $cor-c8;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: $cor-c2;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $cor-c10;
  position: absolute;
  top: 25px;
  left: -4px;
}

.empresa__ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: $cor-c7;
  @include type-1(14);
  text-align: right;
  width: 80px;
}

.empresa > a {
  text-decoration: none;
  color: #d4822f;
}

.empresa:hover::before {
  content: '';
  display: block;
  width: 2px;
  height: 100%;
  border-radius: 0;
  background: $cor-c10;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s;
}

.empresa:hover > a {
  text-decoration: none;
  color: #ef9f5f;
}

.empresa__titulo {
  @include type-1(14);
  font-weight: bold;
  position: relative;
}

.empresa__texto {
  @include type-1(14);
  color: $cor-c7;
}

.empresa__habilidades {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.empresa__habilidades li {
  @include type-1(14);
  border-radius: 4px;
  background: $cor-c1;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia__subtitulo {
    color: $cor-c8;
  }
  .experiencia__texto {
    @include type-1(18);
  }
  .empresa__ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
