.footer {
  background: $cor-c9;
}

.footer__container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 100px;
}

.footer__redes {
  display: inline;
}

.footer__redes-texto {
  display: inline;
  @include type-1(24);
  color: $cor-c4;
}

.footer__redes-item {
  padding: 40px 0;
  display: flex;
  gap: 20px;
}

.footer__contato-cv {
  @include type-1(24);
  color: $cor-c4;
}

.footer__contato-cv a {
  color: #251600;
  background: $cor-c10;
  padding: 20px 40px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  @include type-1(24);
  display: flex;
  max-width: max-content;
  gap: 10px;
}

.footer__contato-cv a:hover {
  opacity: 0.8;
  transition: 0.3s;
}

.footer__contato-cv a img {
  position: relative;
  animation-name: baixar;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
}

@keyframes baixar {
  0% {
    top: 0px;
  }
  50% {
    top: 3px;
  }
  100% {
    top: -3px;
  }
}

.footer__cv-texto {
  display: inline-block;
  margin-bottom: 40px;
  max-width: 25ch;
}

.footer__contato-cv span {
  display: inline-block;
  margin-top: 120px;
  @include type-1(32);
  font-weight: bold;
}

.footer__copy {
  grid-column: 1/-1;
  @include type-1(18);
  color: $cor-c6;
}

@media (max-width: 800px) {
  .footer__container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer__container p {
    @include type-1(18);
  }

  .footer__container a {
    @include type-1(18);
  }

  .footer__contato-cv span {
    margin-top: 40px;
    @include type-1(18);
    max-width: 10ch;
  }
  .footer__cv-texto {
    margin-bottom: 10px;
  }
  .footer__redes-item {
    padding: 20px 0;
  }
  .footer__container {
    gap: 20px;
  }
}
