.footer {
  background: $cor-c9;
}

.footer__container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 100px;
  @include device(m) {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  a {
    @include device(m) {
      @include type-1(18);
    }
  }
  p {
    @include device(m) {
      @include type-1(18);
    }
  }
  @include device(p) {
    gap: 20px;
  }
}

.footer__redes {
  display: inline;
}

.footer__redes-texto {
  display: inline;
  @include type-1(24);
  color: $cor-c4;
}

.footer__redes-item {
  padding: 40px 0;
  display: flex;
  gap: 20px;
  @include device(m) {
    padding: 20px 0;
  }
}

.footer__contato-cv {
  @include type-1(24);
  color: $cor-c4;
  a {
    color: #251600;
    background: $cor-c10;
    padding: 20px 40px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    @include type-1(24);
    display: flex;
    max-width: max-content;
    gap: 10px;
    &:hover {
      opacity: 0.8;
      transition: 0.3s;
    }
    img {
      position: relative;
      animation-name: baixar;
      animation-duration: 0.9s;
      animation-iteration-count: infinite;
    }
  }
  span {
    display: inline-block;
    margin-top: 120px;
    @include type-1(32);
    font-weight: bold;
    @include device(m) {
      margin-top: 40px;
      @include type-1(18);
      max-width: 10ch;
    }
  }
}

@keyframes baixar {
  0% {
    top: 0px;
  }
  50% {
    top: 3px;
  }
  100% {
    top: -3px;
  }
}

.footer__cv-texto {
  display: inline-block;
  margin-bottom: 40px;
  max-width: 25ch;
  @include device(m) {
    margin-bottom: 10px;
  }
}

.footer__copy {
  grid-column: 1/-1;
  @include type-1(18);
  color: $cor-c6;
}
