body {
  font-family: 'Fira Sans', Arial, sans-serif;
  margin: 0px;
  color: $cor-c8;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.is-subtitulo--decoration {
  @include type-1(128);
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@mixin device($width) {
  @if $width == p {
    @media (max-width: 400px) {
      @content;
    }
  } @else if $width == m {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $width == l {
    @media (max-width: 1000px) {
      @content;
    }
  }
}

.is-subtitulo--decoration {
  @include device(m) {
    @include type-1(48);
    text-transform: capitalize;
    max-width: initial !important;
  }
}
