.intro {
  max-width: 1200px;
  padding: 80px 20px 160px 20px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.intro h1 {
  @include type-1(72);
  margin-bottom: 20px;
  position: relative;
}

.intro h1::before {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  background: url('../img/detalhe.svg') no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.intro__stack {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 1000px) {
  .intro h1 {
    @include type-1(48);
  }
  .intro__redes {
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .intro h1 {
    @include type-1(32);
  }
  .intro h1::before {
    width: 30px;
    height: 10px;
    left: 0;
  }
}

@media (max-width: 400px) {
  .intro {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  .intro img {
    justify-self: center;
  }
}
